{% extends "layouts/main.twig" %}

{% block content %}
    <h1>Информация о GD</h1>
    <div class="image-container">
        <img src="{{ image_path }}" alt="php-gd" class="gd-image">
    </div>
{% endblock %}